# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation

# My Ignore
ecommerce/application/configs/application.ini
ecommerce/library/*
ecommerce/public/assets/node_modules/
ecommerce/nbproject/*
ecommerce/.zfproject.xml
ecommerce/public/assets/themes/images/

